.footer {
  padding: 10px 0;
  background: #090909;

  & .row {
    align-items: center;
    justify-content: space-between;
  }

  &-time {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  &-social{
    margin-left: 25px;
    & a+a{
      margin-left: 15px;
    }
  }

  &-info {
    & div {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &:first-child {
        margin-bottom: 5px;
      }

      & img {
        margin-right: 10px;
      }

      & a {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}

@media(max-width: 767px){
  .footer {
    padding: 20px 0;
    text-align: center;
    & .row {
      flex-direction: column;
    }
    &-time{
      margin-bottom: 15px;
    }
    &-social{
      margin-left: 0;
      margin-bottom: 15px;
    }
    &-info {
      & div {
        justify-content: center;
      }
    }
  }
}