.header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: #090909;

  & .row {
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    display: flex;
    align-items: center;

    & img {
      width: 60px;
      height: 60px;
    }

    & h1 {
      font-size: 20px;
    }
  }

  &-menu {
    & a {
      margin-right: 20px;
      font-size: 14px;
      font-weight: 300;

      &:last-child {
        margin-right: 0;
      }
    }

    &__button {
      display: none;
    }
  }

  &-info {
    & div {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &:first-child {
        margin-bottom: 5px;
      }

      & img {
        margin-right: 10px;
      }

      & a {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}

@media(max-width: 1199px){
  .header {
    &-menu {
      & a {
        margin-right: 10px;
      }
    }
  }
}

@media(max-width: 991px) {
  .header {
    & .row{
      justify-content: space-between;
      & .col-auto{
        &:last-child{
          // display: none;
        }
      }
    }
    &-menu {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #282828;
      display: none;

      & a {
        display: block;
        margin-right: 0;
        margin: 20px 0;
        font-size: 30px;
      }

      &__button {
        z-index: 3;
        position: fixed;
        right: 30px;
        display: block;
        & span{
          display: block;
          position: relative;
          width: 50px;
          height: 5px;
          background: #CC2626;
          transition: .3s;

          &::after {
            content: '';
            position: absolute;
            top: -15px;
            width: 50px;
            height: 5px;
            background: #CC2626;
          }

          &::before {
            content: '';
            position: absolute;
            bottom: -15px;
            width: 50px;
            height: 5px;
            background: #CC2626;
          }
        }
      }
    }

    &-info {
      display: none;
      position: fixed;
      bottom: 30px;
      right: 30px;

      & div {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &:first-child {
          margin-bottom: 5px;
        }

        & img {
          margin-right: 10px;
        }

        & a {
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
  }
}

@media(max-width: 575px) {
  .header {
    &-logo {
      & h1 {
        max-width: 130px;
        font-size: 18px;
      }
    }
  }
}

.active{
  display: block !important ;
}

.hide{
  display: none !important;
}

.flex{
  display: flex !important;
}