.modal{
  display: none;
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border: 2px solid #CC2626;
  border-radius: 15px;
  background: #282828;
  text-align: center;
  &-bg{
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(50, 49, 57, 0.21);
  }
  &-form{
    & div{
      margin-bottom: 15px;
    }
    & .button{
      margin: 0 auto;
      margin-top: 30px;
    }
  }
  &-title{
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &-subtitle{
    display: block;
    margin-bottom: 40px;
  }
  &-btn{
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
    font-size: 30px;
  }

  &-success{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 60px;
    text-align: center;
    background: #282828;
  }
}