.service {
  background: url("../images/service_bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;

  &-card {
    padding: 30px 15px;
    border: 3px solid #CC2626;
    border-radius: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.46);

    & img {
      max-width: 50px;
      margin-bottom: 15px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__desc {
      display: flex;
      flex-direction: column;

      & span {
        margin: 3px 0;
      }

      & ul {
        font-weight: 700;

        & li {
          margin: 3px 0;
          font-weight: 400;
          list-style: circle;
          list-style-position: inside;
        }
      }
    }

    &__total {
      margin-bottom: 15px;

      &-price {
        display: block;
        font-weight: 700;
        font-size: 36px;
      }
    }

    & .button {
      margin: 0 auto;
    }
  }
}

@media(max-width: 991px) {
  .service {
    &-card {
      max-width: 290px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
}