.about{
  background: #090909;
  &-card{
    text-align: center;
    & img{
      margin-bottom: 20px;
    }
    &__title{
      margin-bottom: 10px;
    }
  }
}

@media(max-width: 991px){
  .about{
    padding: 60px 0 30px 0;
    &-card{
      max-width: 290px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
}