.work{
  background: #282828;
  &-card{
    &__number{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      margin-bottom: 15px;
      border-radius: 50%;
      font-size: 24px;
      font-weight: 700;
      background: #CC2626;
    }
    &__content{
      margin-left: 23px;
      padding-left: 15px;
      border-left: 5px solid #CC2626;
    }
    & ul {
      max-width: 450px;
      & li{
        list-style-position: inside;
        list-style-type: circle;
        margin: 10px 0;
      }
    }
  }
}

@media(max-width: 991px){
  .work{}
}