.contacts{
  max-height: 1080px;
  background: #282828;
  &-subtitle{
    max-width: 600px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 300;
  }
  &-form{
    & .row{
      &:first-child{
        margin-bottom: 20px;
      }
    }
    & textarea{
      height: 200px;
      margin-bottom: 50px;
    }
    & .button{
      margin: 0 auto;
    }
  }
}

@media(max-width: 991px){
  .contacts{
    &-form{
      & .row{
        & div{
          margin-bottom: 10px;
        }
        &:first-child{
          margin-bottom: 0;
        }
      }
      & textarea{
        height: 150px;
        margin-bottom: 30px;
      }
    }
  }
}