.banner{
  position: relative;
  height: calc(100vh - 80px) ;
  max-height: 1080px;
  margin-top: 80px;
  background: url('../images/img.jpg') #090909  no-repeat;
  background-position: 70% center;
  background-size: 50vh;
  &::before{
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/smoke.png') no-repeat;
    background-position: center bottom;
    background-size: 100%;
  }
  &-text{
    margin-top: 30px;
    &__title{
      font-size: 40px;
      margin-bottom: 30px;
    }
    &__desc{
      display: block;
      max-width: 500px;
      margin-bottom: 70px;
      font-weight: 300;
    }
  }
  &-img{
    & img{
      height: 100vh;
    }
  }
}

@media(max-width: 1199px){
  .banner{
    height: unset;
  }
}

@media(max-width: 991px){
  .banner{
    background-position: 90% center;
    background-size: 40vh;
  }
}

@media(max-width: 767px){
  .banner{
    background-position: center center;
    background-size: 40vh;
    &::before{
      z-index: 0;
      background-size: cover;
    }
    &-text{
      text-align: center;
      &__title{
        font-size: 32px;
      }
      & .button{
        margin: 0 auto;
      }
    }
  }
}

@media(max-width: 575px){
  .banner{
    &-text{
      text-align: center;
      &__title{
        font-size: 24px;
      }
      & .button{
        margin: 0 auto;
      }
    }
  }
}