.faq {
  background: #090909;

  &-accordion {
    &__item {
      // padding: 20px;
      border: 1px solid #CCCCCC;
      background: #282828;
      transition: 0.4s;

      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        cursor: pointer;

        & span {
          position: relative;
          display: block;
          width: 30px;
          height: 5px;
          background: #CC2626;
          transition: .3s;

          &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 5px;
            background: #CC2626;
            transform: rotate(90deg);
          }
        }

        & .active{
          transform: rotate(45deg);
        }
      }

      

      &-content {
        display: none;
        padding: 10px 20px;
      }
    }
  }
}

@media(max-width: 575px) {
  .faq {
    background: #090909;

    &-accordion {
      &__item {
        &-title {
          font-size: 14px;
          & span{
            // margin-right: 15px;
          }
        }
      }
    }
  }
}

@media(max-width: 530px) {
  .faq {
    &-accordion{
      &__item{
        &-title{
          & div{
            max-width: 220px;
          }
        }
      }
    }
  }
}