footer.footer
  .container
    .row
      .col-auto
        .footer-time
          span Будние дни: с 
            b 11:00 
            | до 
            b 19:00
          span Выходные дни: с 
            b 10:00 
            | до 
            b 00:00
      .col-auto
        .footer-social
          a(href="http://")
            img(src="static/images/instagram.svg", alt="", srcset="")
          a(href="http://")
            img(src="static/images/vk.svg", alt="", srcset="")
      .col-auto
        .footer-info
          div
            img(src="static/images/phone.svg", alt="phone", srcset="")
            a(href="tel:+79922392643") 8 (992) 239-26-43
          div
            img(src="static/images/mail.svg", alt="mail", srcset="")
            a(href="mailto:kosobryhovarsenii@gmail.com") kosobryhovarsenii@gmail.com