header.header
  .container
    .row
      .col-auto
        a.header-logo(href="#wrapper")
          img(src="static/images/hookah__logo.svg", alt="logo", srcset="")
          h1 Аренда кальянов
            br
            | Пермь
      .col-auto
        .header-menu__button
          span
        .header-menu
          a(href="#work") Как мы работаем
          a(href="#about") О нас
          a(href="#service") Услуги
          a(href="#faq") FAQ
          a(href="#conacts") Контакты
      .col-auto
        .header-info
          div
            img(src="static/images/phone.svg", alt="phone", srcset="")
            a(href="tel:+79922392643") 8 (992) 239-26-43
          div
            img(src="static/images/mail.svg", alt="mail", srcset="")
            a(href="mailto:kosobryhovarsenii@gmail.com") kosobryhovarsenii@gmail.com