block variables

doctype html
html(lang="ru-RU")
	head
		//- metatgs
		meta(charset="utf-8")
		meta(class="viewport" name="viewport" content="width=device-width, initial-scale=1")
		meta(name="keywords" content="")
		meta(name="description" content="")

		//- links
		link(rel="shortcut icon", href="static/images/favicon.svg")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")

		//- title
		title #{title}

	body
		.wrapper#wrapper
			include header
			.content
				block content
			include footer
			include modal
			
			script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')

			script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
			script(src="static/js/main.js")