.modal-bg
.modal
  h2.modal-title Антисептик, 1 литр
  span.modal-subtitle Заполните поля ниже - мы свяжемся с Вами  
  form.modal-form(enctype="multipart/form-data", method="post", id="modal-form")
    div
      input(type="text", id="name", name="name", placeholder="Ваше имя" required)
    div
      input(type="tel",id="phone", name="phone", placeholder="+7 (999) 999 - 99 - 99" required)
    div
      input(type="email", id='email' name="email", placeholder="Ваша почта" required)
    button.button(type="submit") Отправить
  .modal-btn
    span X

.modal-success
  h2.modal-success__title
