extends layout/main

block variables
	-var title = 'Аренда кальянов Пермь'

block content
	section.section.banner
		.container
			.row
				.col-md-7
					.banner-text.wow.slideInLeft
						h1.banner-text__title Хотите заказать доставку кальяна на дом в Перми?
						span.banner-text__desc Аренда кальяна с бесплатной доставкой в любую точку Перми. Уже через 90 минут вы будете наслаждаться ароматным дымом у себя дома, и не думать — где покурить кальян!
						a.button(href="#service") Заказать кальян
				//- .col-md-5
				//- 	.banner-img
				//- 		img(src="static/images/banner__img.jpg", alt="hookah", srcset="")
	section.section.work#work
		.container
			h2.title.work__title Как мы работаем
			.row
				.col-lg-6
					.work-card
						.work-card__number 1
						.work-card__content
							h3.work-card__title Вы оставляете заказ
							ul
								li Выберите тип кальяна в разделе Заказ, и заполните форму. Либо сделайте заказ по телефону 
									a.bold(href="tel:+79922392643") 8 (992) 239-26-43.
								li Назовите предпочтительный для Вас вкус, метод оплаты и адрес доставки. 
				.col-lg-6
					.work-card
						.work-card__number 2
						.work-card__content
							h3.work-card__title Мы осуществляем доставку
							ul
								li Мы связываемся с вами и привозим заказ в течении 
									span.bold 90 минут
									| .
								li Предоставляете курьеру документ, удостоверяющий 
									span.bold 18+
									| .
								li Подписываем 
									span.bold договор
									| .
								li Рассказываем, как пользоваться кальяном и о мерах безопасности. 
								li Вы можете приготовить кальян сами. Если хотите, чтобы кальян приготовил курьер-кальянщик - такая услуга стоит 
									span.bold 290 руб
									| . В таком случае вы узнаете нюансы как правильно приготовить кальян.
				.col-lg-6
					.work-card
						.work-card__number 3
						.work-card__content
							h3.work-card__title Вы отдыхаете
							ul
								li  Вы наслаждаетесь кальяном! Если у вас возникнут вопросы или вам понадобится что-то дополнительно, позвоните нам по телефону: 
									a.bold(href="tel:+79922392643") 8 (992) 239-26-43 
									| или напишите в 
									a.bold(href="https://vk.com/kosobryuhovarsenii") VK 
									| .
				.col-lg-6
					.work-card
						.work-card__number 4
						.work-card__content
							h3.work-card__title Мы забираем кальян
							ul
								li Аренда заканчивается до 18:00. Просто позвоните и курьер заберет кальян в любое удобное время.
								li Перед тем как вернуть кальян сполосните грязные части, проверьте комплектацию и отдайте кальян курьеру.
								li После чего кальян отправляется на стерилизацию.
	section.section.about#about
		.container
			h2.title Почему стоит заказать именно у нас?
			.row
				.col-lg-4
					.about-card
						img(src="static/images/about_item_1.svg", alt="", srcset="")
						h3.about-card__title Бесплатная доставка
						span.about-card__desc Доставка кальяна на дом осуществляется бесплатно в пределах Перми. Вам не нужно самостоятельно забирать или сдавать кальян обратно.
				.col-lg-4
					.about-card
						img(src="static/images/about_item_2.svg", alt="", srcset="")
						h3.about-card__title Цена — Качество
						span.about-card__desc Вы получите сервис высокого качества. Как в специализированных заведениях, за ту же сумму, но на больший срок. Наши кальяны меньше используют — они чище и новее.
				.col-lg-4
					.about-card
						img(src="static/images/about_item_3.svg", alt="", srcset="")
						h3.about-card__title Готовое решение
						span.about-card__desc Мы стараемся учесть все Ваши пожелания и экономить Ваше время, поэтому подготовили специальную систему готовых пакетных решенй.
	section.section.service#service
		.container
			h2.title Наши услуги
			.row
				.col-lg-4
					.service-card
						img(src="static/images/about_item_1.svg", alt="", srcset="")
						h3.service-card__title Пакет “Легкий”
						.service-card__desc
							span Кальян, каллауд, щипцы
							span Уголь (3 кубика ~ 25мм)
							ul Табак на выбор (1 забивка):
								li Adalya
								li Al Faker
								li Serbetli
							span Бесплатная доставка в течении 90 мин
							ul Дополнительные услуги:
								li Табак: 50г. + 150руб.
								li Уголь: 1 кубик + 10руб.
						.service-card__total
							span.service-card__total-price 600 руб.
							span +1500 руб. - залог или документы
						a.button Заказать
				.col-lg-4
					.service-card
						img(src="static/images/about_item_1.svg", alt="", srcset="")
						h3.service-card__title Пакет “Средний”
						.service-card__desc
							span Кальян, каллауд, щипцы
							span Уголь (3 кубика ~ 25мм)
							ul Табак на выбор (1 забивка):
								li Fumari
								li Nirvana
								li Serebro
							span Бесплатная доставка в течении 90 мин
							ul Дополнительные услуги:
								li Табак: 50г. + 200руб.
								li Уголь: 1 кубик + 10руб.
						.service-card__total
							span.service-card__total-price 800 руб.
							span +1500 руб. - залог или документы
						a.button Заказать
				.col-lg-4
					.service-card
						img(src="static/images/about_item_1.svg", alt="", srcset="")
						h3.service-card__title Пакет “Тяжелый”
						.service-card__desc
							span Кальян, каллауд, щипцы
							span Уголь (3 кубика ~ 25мм)
							ul Табак на выбор (1 забивка):
								li Element
								li Dark Side
								li Tangiers
							span Бесплатная доставка в течении 90 мин
							ul Дополнительные услуги:
								li Табак: 50г. + 350руб.
								li Уголь: 1 кубик + 10руб.
						.service-card__total
							span.service-card__total-price 1000 руб.
							span +1500 руб. - залог или документы
						a.button Заказать
	section.section.faq#faq
		.container
			h2.title FAQ Ответы на популярные вопросы
			.faq-accordion
				.faq-accordion__item
					h3.faq-accordion__item-title
						div Нужен ли документ или залог?
						span
					.faq-accordion__item-content
						p Наличие вашего паспорта является обязательным условием. На основе него заполняется договор о получении материальных ценностей. Делаем фотографию паспорта.
						p Либо возможна аренда без предоставления документов. В таком случае необходим залог в размере 1.5 т.р.
				.faq-accordion__item
					h3.faq-accordion__item-title
						div Справлюсь ли я самостоятельно?
						span
					.faq-accordion__item-content
						p Да. Кальянщик даст подробный инструктаж, и вы без труда сможете приготовить кальян собственными руками. Вы так же можете посмотреть пошаговую инструкцию.
						p Если вы хотите, чтобы кальян сделал профессиональный кальянщик - стоимость такой услуги 290 руб. Рекомендуем эту услугу для новичков. Вы сможете узнать нюансы приготовления и отдохнете в ожидании готового каляьна
				.faq-accordion__item
					h3.faq-accordion__item-title
						div Приготовить самому или заказать приготовление?
						span
					.faq-accordion__item-content
						p Если вы не часто готовите кальян, то лучше заказать услугу у курьера - кальянщика. В таком случае вам не придется собирать кальян и тратить время на его приготовление. Плюс к этому, вы узнаете маленькие секреты приготовления по-настоящему хорошего, дымного кальяна и, последующие разы, будете готовить как заправский профессионал.
						p Услуга приготовления стоит 290 рублей
				.faq-accordion__item
					h3.faq-accordion__item-title
						div Можно ли забрать кальян самостоятельно?
						span
					.faq-accordion__item-content
						p К сожалению услуга самовывоза недостуна. Мы занимаемся доставкой кальянов строго по адресу, который Вы указали нашему менеджеру.
				.faq-accordion__item
					h3.faq-accordion__item-title
						div Что делать, если я повредил кальян?
						span
					.faq-accordion__item-content
						p Сообщите о повреждении диспетчеру. Стоимость каждой детали описана в краш-листе. Оплатите сумму поломки переводом на карту или наличными курьеру
	section.section.contacts#conacts
		.container
			h2.title Остались вопросы?Ответим на все!
			span.contacts-subtitle Остались вопросы или у вас есть жалобы, отзывы, пожелания, предложения? Свяжитесь с нами по круглосуточному телефону или напишите нам, заполнив форму:
			form(id="contacts-form", method="post").contacts-form
				.row
					.col-lg-6
						div
							input(type="text", name="name", placeholder="Ваше Имя*") 
					.col-lg-6
						div
							input(type="tel", name="phone", placeholder="Ваш Номер*")
				.row
					.col-12
						div
							textarea(name="textarea", placeholder="Сообщение")
				.row
					.col-12
						div
							button.button(type="submit") Отправить