* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  font-size: 16px;
  color: white;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

input {
  width: 100%;
  height: 60px;
  padding-left: 50px;
  border: 0;
  border-radius: 15px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  color: #282828;
  font-size: 18px;
  background: #E5E5E5;

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #282828;
  }

  &:focus {
    background: white;
    transition: .3s;
  }
}

textarea {
  width: 100%;
  padding: 20px;
  padding-left: 50px;
  border: 0;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #282828;
  font-size: 18px;
  background: #E5E5E5;
  outline: none;

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #282828;
  }

  &:focus {
    background: white;
    transition: .3s;
  }
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

.section {
  padding: 80px 0;
}

.title {
  margin-bottom: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}

.button {
  position: relative;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  border: 2px solid #CC2626;
  border-radius: 15px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background: #CC2626;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
  transition: .3s;
  overflow: hidden;
  &:hover{
    border: 2px solid #CC2626;
    background: transparent;
  }
}

.bold {
  font-weight: 700;
}

@media(max-width: 991px){
  body {
    font-size: 14px;
  }

  .section {
    padding: 60px 0;
  }

  .title {
    margin-bottom: 40px;
    font-size: 22px;
  }
}

@media(max-width: 575px){
  input {
    padding-left: 25px;
    font-size: 14px;
  }
  textarea {
    padding-left: 25px;
    font-size: 14px;
  }
}